@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

section {
    padding: 32px;
}

a {
    text-decoration: none;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.purple {
    color: #6415FF
}

.container {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.heading {
    letter-spacing: 0.1em;
    font-weight: 700;
    color: #6415FF;
    margin-bottom: 1rem;
}

.big_heading {
    color: #243E63;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.025em;
    text-align: center;
    width: 100%;
}

.heading_desc {
    color: #7C8BA1;
    width: 100%;
    text-align: center;
    font-size: 1.125rem;
    margin-top: 1rem;
    font-weight: 500;
    line-height: 1.625;
    max-width: 36rem;
}

.btn {
    display: inline-block;
    margin-top: 2rem;
}

/* HEADER */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
}

.header_logo {
    color: #243E63;
    font-size: 24px;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo_img {
    width: auto;
    height: 40px;
    margin-right: 12px;
}

.nav {
    font-size: 14px;
    font-weight: 500;
    height: auto;
    display: flex;
    align-items: center;
}

.nav_one {
    display: flex;
    justify-content: space-around;
}

.nav_two {
    padding-left: 44px;
    display: flex;
    align-items: center;
}

.nav_link {
    margin: 0 24px;
    text-decoration: none;
    display: block;
    color: #243E63;
}

.primary_link {
    background-color: #6415FF;
    border-radius: 9999px;
    color: white;
    padding: 12px 32px;
}

/* LANDING MAIN CONTENT */

.landing_content {
    display: flex;
    align-items: center;
}

.landing_col_one {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.landing_col_two {
    width: 60%;
    display: flex;
    flex-direction: row-reverse;
}

.landing_img {
    width: 100%;
}

.landing_title {
    font-size: 2.25rem;
    color: #1A202C;
    font-weight: 700;
    line-height: 1.25;
}

.landing_para {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    color: #243E63;
    line-height: 1.25;
    font-weight: 400;
}

.landing_email {
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    text-align: center;
}


.landing_button {
    border: none;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 10rem;
    font-weight: 700;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin-right: 0.5rem;
}

.landing_input {
    padding-right: 12rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 2rem;
    border-radius: 9999px;
    border-width: 2px;
    width: 100%;
    font-weight: 500;
}

.landing_customer_section {
    margin-top: 5rem;
    text-align: left;
    color: #A0AEC0;
}

.landing_customers {
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.05em;
}

.landing_customer_img {
    padding-right: 4rem;
    margin-top: 1rem;
    opacity: 0.5;
}

.landing_main_img {
    max-width: 32rem;
}

/* FEATURES */

.features_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.services {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.5rem;
    width: 100%;
}

.service {
    display: flex;
    width: calc(100%/3);
    padding: 2rem 0.5rem;
}

.service_img {
    padding: 1.25rem;
    border-radius: 9999px;
    border-color: #ced8e585;
    border-style: solid;
    border-width: 1px;
}

.service_desc {
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.service_desc_title {
    color: #243E63;
    letter-spacing: 0.025em;
    font-weight: 700;
    font-size: 1.5rem;
}

.service_desc_para {
    margin-top: 1rem;
    font-weight: 500;
    line-height: 2;
    color: #7C8BA1;
}

/* QUALITY */

.quality_container {
    display: flex;
}

.quality_col_one {
    width: 50%;
    text-align: left;
}

.quality_col_two {
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
}

.quality_heading {
    text-align: left;
}

.quality_desc {
    text-align: left;
}

.quality_img {
    object-fit: contain;
    width: 100%;
    height: auto;
    max-width: 32rem;
}

/* STEPS */

.steps_container {
    display: flex;
}

.steps_col_one {
    display: flex;
    width: 50%;
}

.steps_img {
    object-fit: contain;
    width: 100%;
    height: auto;
    max-width: 32rem;
}

.steps_col_two {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.steps_heading {
    text-align: left;
}

.step {
    display: flex;
    margin-top: 2rem;
}

.step_num {
    font-weight: 600;
    font-size: 2.25rem;
    color: #CBD5E0;
}

.step_desc {
    margin-left: 1.5rem;
}

.step_title {
    font-size: 1.25rem;
    font-weight: 600;
}

.step_para {
    margin-top: 0.75rem;
    max-width: 20rem;
    line-height: 2;
    font-size: 0.875rem;
    font-weight: 500;
}

/* VALUES */

.values_container {
    display: flex;
}

.values_col_one {
    display: flex;
    width: 50%;
}

.values_heading,
.values_heading_desc {
    text-align: left;
}

.values_col_two {
    display: flex;
    width: 50%;
    flex-direction: row-reverse;
}

.values_img {
    object-fit: contain;
    width: 100%;
    height: auto;
    max-width: 32rem;
}

.principles {
    display: flex;
}

.principle {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-right: 2rem;
}

.principle_heading {
    display: flex;
    align-items: center;
}

.principle_img_container {
    padding: 0.5rem;
    flex-shrink: 0;
    border-radius: 9999px;
    border-width: 0px;
    height: 100%;
    width: auto;
}

.green {
    background-color: #9AE6B4;
}

.red {
    background-color: #FEB2B2;
}

.principle_title {
    color: #243E63;
    margin-left: 0.75rem;
    font-weight: 700;
    font-size: 1.25rem;
}

.principle_para {
    text-align: left;
    margin-top: 1rem;
    line-height: 1.625;
    color: #718096;
}

/* PRICING */

.pricing_container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.plans {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.plan {
    width: 100%;
    max-width: 24rem;
    margin-top: 4rem;
    text-align: center;
    border-radius: 0.5rem;
    --tw-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    position: relative;
    padding-top: 0.5rem;
    --tw-text-opacity: 1;
    color: rgba(26,32,44,var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(255,255,255,var(--tw-bg-opacity));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price {
    display: flex;
    flex-direction: column;
    line-height: 1.625;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    border-bottom: 1px solid #e5e7eb;
}

.plan_title {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.625;
}

.plan_price {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    line-height: 1.625;
}

.plan_duration {
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 1.625;
    color: #A0AEC0;
}

.plan_for {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.025em;
}

.plan_item {
    margin-top: 1.25rem;
    font-weight: 500;
    color: #718096;
}

.plan_desc {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #e5e7eb;
}

.plan_btn {
    border-radius: 9999px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    width: 50%;
    font-size: 0.875rem;
    font-weight: 700;
    color: white;
    display: inline-block;
}

.plan_btn_green {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan_btn_white {
    background: white;
    color: #6415FF;
}

.plan_btn_red {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan_blue {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    color: white;
}

.plan_blue .plan_duration {
    color: white;
}

.plan_blue .plan_item {
    color: white;
}

.gradient_green {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    width: 100%;
    height: 0.5rem;
}

.gradient_blue {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    width: 100%;
    height: 0.5rem;
}

/* FAQS */

.faqs_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions {
    margin-top: 3rem;
    width: 100%;
    max-width: 56rem;
}

.question_div {
    background-color: #e3ebf4;
    border-radius: 10px;
    margin-bottom: 1rem;
}


.question {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: #2D3748;
}

/* REVIEWS */

.review_container {
    display: flex;
}

.review_col_one {
    display: flex;
    align-items: center;
    width: 50%;
}

.review_img {
    object-fit: contain;
    width: 100%;
    height: auto;
    max-width: 32rem;
}

.review_col_two {
    display: flex;
    flex-direction: row-reverse;
    width: 50%
}

.review_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.review_heading {
    text-align: left;
}

.review_content .big_heading {
    text-align: left;
}

.review_content .heading_desc {
    text-align: left;
}

.stars {
    margin-top: 3rem;
    display: flex;
    align-items: center;
}

.star {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    --tw-text-opacity: 1;
    color: rgba(246,173,85,var(--tw-text-opacity));
    fill: currentcolor;
    margin-right: 0.25rem;
}

.review_footer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.review_title {
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
}

.review_para {
    margin-bottom: 2.5rem;
    margin-top: 1rem;
    line-height: 1.625;
    font-weight: 500;
}

.review_person {
    display: flex;
    align-items: center;
}

.review_person_img {
    height: 5rem;
    width: 5rem;
    border-radius: 9999px;
}

.review_person_info {
    margin-left: 20px;
}

.review_scroll {
    display: flex;
    align-items: center;
}

.review_left,
.review_right {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    padding: 1rem;
    border-radius: 9999px;
    border-width: 1px;
    color: black;
}

.review_arrow {
    width: 1rem;
    height: 1rem;
    stroke-width: 3;
}

/* GET STARTED */

.start_container {
    background-color: #6415FF;
    border-radius: 10px;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start_row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.call {
    font-size: 1.875rem;
}

.start_col_one {
    width: 50%;
}

.start_col_two {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.start_green {
    background-color: #9AE6B4;
}

.start_red {
    background-color: #FEB2B2;
}

/* FOOTER */

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #6415FF;
    color: white;
}

.footer_link {
    color: white;
    margin-top: 1rem;
}

.footer_links {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer_link_section {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 3rem;
    align-items: center;
}

.footer_logo {
    font-size: 24px;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_logo_img {
    width: auto;
    height: 40px;
    margin-right: 12px;
}

.footer_socials {
    display: flex;
}

.social {
    width: 30px;
    height: 30px;
    color: white;
    stroke-width: 3;
    margin-left: 2rem;
}